<app-breadcrumb [config]="configPage"></app-breadcrumb>

<div class="container">
  <div class="row">
    <div class="col py-4">
      <h1 class="h2 font-weight-bold">Política de Privacidade e Termo de Uso</h1>

      <p class="my-3">
        Esta política de privacidade é do site GrandesMarcasPE.com.br e rege a privacidade de seus usuários que optam por usá-lo.
      </p>

      <p class="my-3">
        A política define as diferentes áreas em que a privacidade do usuário está relacionada e descreve as obrigações e requisitos
        dos usuários e do site. Além disso, a maneira como este site processa, armazena e protege os dados e informações do usuário
        também será detalhada nesta política.
      </p>

      <h2 class="h4 font-weight-bold mt-4">O site</h2>

      <p class="my-3">
        Este site adota uma abordagem proativa à privacidade do usuário e garantem que as medidas necessárias sejam tomadas para
        proteger a privacidade de seus usuários durante toda a sua experiência de visita. O site está em conformidade com todas as
        leis e requisitos aplicáveis à privacidade do usuário.
      </p>

      <h2 class="h4 font-weight-bold mt-4">Uso de Cookies</h2>

      <p class="my-3">
        Este site usa software de rastreamento para monitorar seus visitantes e entender melhor como eles o usam. Este software é
        fornecido pelo Google Analytics, que usa cookies para rastrear o uso dos visitantes. O software salvará um cookie no disco
        rígido do seu computador para rastrear e monitorar seu envolvimento e uso do site, mas não armazenará, salvará ou coletará
        informações pessoais. Você pode ler a política de privacidade do Google
        <a href="http://www.google.com/privacy.html" target="_blank" rel="noopener noreferrer">aqui</a>
        para obter mais informações.
      </p>

      <p class="my-3">
        Outros cookies podem ser armazenados no disco rígido do seu computador por fornecedores externos quando este site usa
        programas de referência, links ou anúncios patrocinados. Esses cookies são usados para rastreamento de conversão e referência
        e normalmente expiram após 30 dias, embora alguns possam demorar mais. Nenhuma informação pessoal é armazenada, salva ou
        coletada.
      </p>

      <h2 class="h4 font-weight-bold mt-4">Segurança das Informações</h2>

      <p class="my-3">
        Para a inscrição de seu estabelecimento ou negócio no GrandesMarcasPE.com.br, será solicitado ao usuário que forneça
        informações individuais (nome, endereço, e-mail, etc), dados da companhia e das seções em que desejam aparecer. Todo e
        Qualquer Conteúdo do Anuncio é de Total Responsabilidade da Empresa e seu idealizado.
      </p>

      <p class="my-3">
        O GrandesMarcasPE.com.br também pode obter informações sobre a sua visita, incluindo as páginas visitadas, a hora do dia, o
        tipo de navegador, o idioma do navegador e o IP de cada consulta. Serão armazenados todos os dados para melhor compreender
        nossos usuários.
      </p>

      <h2 class="h4 font-weight-bold mt-4">Quais são as informações disponibilizadas no GrandesMarcasPE.com.br?</h2>

      <p class="my-3">
        As figurações gratuitas são compostas das seguintes informações: nome da Empresa, endereço completo e telefone. Os anúncios,
        autorizados previamente por nossos clientes, contêm informações mais detalhadas sobre sua empresa ou atividade comercial.
      </p>

      <p class="my-3">
        Como posso solicitar a correção ou a retirada do anuncio? Basta entrar em contato conosco através do formulário de
        <a routerLink="/fale-conosco">Fale Conosco</a> disponível neste site. A correção / exclusão será providenciada e, em alguns
        dias, Seu Anuncio terá sido Removido ou Atualizado.
      </p>

      <h2 class="h4 font-weight-bold mt-4">Links a outros sites</h2>

      <p class="my-3">
        Os autores dos sites ou links que se mostram como resultados das buscas mediante os serviços de procura no site são
        companhias sobre as quais GrandesMarcasPE.com.br não exerce nenhum controle. Estes podem evitar seus cookies, reunir dados ou
        solicitar informações pessoais.
      </p>

      <h2 class="h4 font-weight-bold mt-4">Uso de suas informações pessoais</h2>

      <p class="my-3">
        GrandesMarcasPE.com.br reúne e utiliza suas informações pessoais ou individuais para o funcionamento do portal e para
        oferecer os serviços que você solicita enquanto se inscreve e anuncia no GrandesMarcasPE.com.br. Também usamos estas
        informações pessoais para nos comunicarmos com você. GrandesMarcasPE.com.br não compartilha sua informação pessoal com
        terceiros sem seu consentimento expresso. Entretanto, é possível que GrandesMarcasPE.com.br entre em contato com você para
        informar sobre o lançamento de novos serviços em nossa plataforma que seja de seu interesse.
      </p>

      <p class="my-3">
        Você concorda que todos os anúncios enviados para publicação através da ferramenta de “Anuncie seu negócio agora mesmo”
        deverão estar de acordo com as nossas normas da legislação aplicável. Você declara-se ciente de que o GrandesMarcasPE.com.br
        poderá analisar o conteúdo do seu anúncio e poderá, a seu exclusivo critério, se recusar a prosseguir com a publicação de
        qualquer anúncio que ele julgue não estar em conformidade com as nossas Normas.
      </p>

      <p class="my-3">
        Caso Você tenha alguma dúvida, comentário ou sugestão, por favor, entre em contato com o Guia Online GrandesMarcasPE.com.br
        por meio do e-mail <a href="mailto:contato@grandesmarcaspe.com.br">Contato&#64;grandesmarcaspe.com.br</a>
      </p>
    </div>
  </div>
</div>
