<app-breadcrumb [config]="configPage"></app-breadcrumb>

<div class="container">
  <div class="row">
    <div class="col py-4">
      <h2 class="font-weight-bold">Termos e Privacidade</h2>

      <p class="my-3">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque repellat quam praesentium, aliquid qui delectus rem unde expedita perspiciatis
        et velit ex magnam? Nam dolor itaque iste numquam deserunt ex, atque qui rerum, officiis alias mollitia asperiores ipsum in enim illum cupiditate
        quibusdam debitis aliquam voluptate? Animi deleniti aperiam ipsam accusantium ducimus nam architecto hic optio inventore fugiat voluptas veritatis
        excepturi in id unde ratione, explicabo libero dignissimos quasi totam harum ut amet alias. Neque enim corrupti iure alias. Commodi ut consequuntur
        aliquam voluptates tenetur autem recusandae quam veritatis ducimus nulla, corporis dolor aliquid, ratione facere aspernatur quos obcaecati quas sed,
        et odit laboriosam. Eveniet fuga, odio doloremque optio minus nulla nemo eaque voluptate laboriosam beatae quibusdam harum, quaerat cupiditate pariatur
        eos, sequi nam commodi veniam quam voluptates sapiente tempora aut? Provident, cumque praesentium. Sapiente qui vitae, quo est nemo fuga, adipisci unde
        aliquid illum accusamus assumenda quisquam asperiores nobis accusantium minima esse totam dolor? Vel, magni dicta ut possimus, suscipit repudiandae vero
        dolore soluta mollitia ipsum voluptatibus earum doloribus odio dolores nihil.
        <br><br>
        Iure adipisci voluptatibus quam necessitatibus fugit, assumenda repudiandae alias natus. Ipsa quo quia recusandae? Recusandae obcaecati amet cupiditate
        aspernatur fugit. Tempora libero fugiat voluptas vitae, possimus iure accusamus dolores est excepturi! Repellat adipisci libero nihil ratione. Commodi
        explicabo ipsum ratione animi perspiciatis, nostrum itaque placeat dolore eos minima excepturi temporibus provident dolores voluptatum quam laudantium
        facilis aliquam. Ad aliquam excepturi repudiandae, praesentium doloremque commodi magnam accusamus adipisci nobis at enim iusto voluptatum modi maiores
        inventore quaerat, minus velit iure culpa molestias quas, harum distinctio! Excepturi dicta ut porro nemo eius illo necessitatibus, accusamus atque modi
        doloribus numquam mollitia molestiae consequuntur? Quasi incidunt ullam quod ipsa, quidem assumenda quis deleniti dolor eos odio facere necessitatibus
        eveniet, illo minima aut dolorum consectetur animi doloremque sed, nobis exercitationem! Atque, libero?
      </p>
    </div>
  </div>
</div>

