<header class="bg-cz-cl">

  <div class="top-header bg-bc pt-2 pb-2">

    <div class="container">

      <div class="row align-items-center flex-nowrap">

        <div class="col-auto col-md-5 col-lg-4 current-uf">

          <button class="btn btn-lg btn-lc" (click)="openModal(modalEstados)">
            Você está em:
            <strong>{{ locationState.uf() }}</strong>
          </button>

        </div>



        <div class="col col-md-7 col-lg-8 header-account">

          <div class="header-account__actions">

            <a class="btn btn-lg btn-le header-account__anuncie" [routerLink]="['/anuncie']">Anuncie</a>

            @if (auth.isAuthenticated()) {
              <div class="header-account__menu" dropdown placement="bottom right" container="body">
                <button
                  type="button"
                  class="header-account__menu-toggle"
                  dropdownToggle
                  [attr.aria-label]="'Menu da conta: ' + (auth.currentUser()?.nome ?? 'Usuário')">
                  @if (profilePhotoUrl()) {
                    <img [src]="profilePhotoUrl()" alt="" class="header-account__avatar" aria-hidden="true">
                  } @else {
                    <img src="/img/avatar-usuario.svg" alt="" class="header-account__avatar" aria-hidden="true">
                  }
                </button>

                <ul *dropdownMenu class="dropdown-menu dropdown-menu-right header-account__dropdown" role="menu">
                  <li role="menuitem">
                    <a class="dropdown-item" routerLink="/perfil">Editar perfil</a>
                  </li>
                  <li role="menuitem">
                    <button type="button" class="dropdown-item" (click)="auth.logout()">Sair</button>
                  </li>
                </ul>
              </div>
            } @else {
              <a
                class="btn btn-lg btn-lc header-account__login"
                routerLink="/login"
                role="button">
                Login
              </a>
            }

          </div>

        </div>

      </div>

    </div>

  </div>



  <div class="search-header pt-4 pb-4">

    <div class="container">

      <div class="row">

        <div class="col text-center">

          <a [routerLink]="['/']">

            <img src="/img/logo-header.svg" alt="Logotipo do site" class="img-fluid logo-header">

          </a>

        </div>

      </div>



      <div class="row">

        <div class="col-sm-8 offset-sm-2">

          <div class="form-group">

            <div class="row">

              <div class="col-12">

                <div class="input-group flex-nowrap">

                  <input type="search" class="form-control input-gm search-input"
                         placeholder="Busque por nome, categoria, descrição, slogan ou localização"
                         name="termoBusca"
                         enterkeyhint="search"
                         [ngModel]="termoBusca()" (ngModelChange)="termoBusca.set($event)"
                         (keydown.enter)="buscar()"
                         aria-label="Termo de busca">

                  <div class="input-group-append ipa-search">

                    <button type="button" (click)="buscar()" [disabled]="!canSearch()"
                            aria-label="Buscar"
                            class="btn btn-lg btn-gradient float-right w-100 btn-search">
                      <span class="btn-search__label">Buscar</span>
                      <svg class="btn-search__icon" width="30" height="30" viewBox="0 0 21770 21770" aria-hidden="true">
                        <path fill="#fff" d="M8030 7410c-180,-180 -480,-180 -670,0 -680,680 -1010,1640 -920,2610 30,240 230,430 470,430 20,0 30,-10 50,-10 260,-20 450,-250 420,-510 -70,-700 170,-1370 650,-1850 180,-190 180,-480 0,-670z"/>
                        <path fill="#fff" d="M9900 4510c-2970,0 -5390,2420 -5390,5390 0,2970 2420,5380 5390,5380 2970,0 5380,-2410 5380,-5380 0,-2970 -2410,-5390 -5380,-5390zm0 9830c-2450,0 -4450,-1990 -4450,-4440 0,-2450 2000,-4450 4450,-4450 2450,0 4440,2000 4440,4450 0,2450 -1990,4440 -4440,4440z"/>
                        <path fill="#fff" d="M17120 16460l-3420 -3430c-180,-180 -480,-180 -670,0 -180,190 -180,490 0,670l3430 3420c90,90 210,140 330,140 120,0 240,-50 330,-140 190,-180 190,-480 0,-660z"/>
                      </svg>
                    </button>

                  </div>

                </div>

              </div>



            </div>

            @if (buscaMessage) {

              <p class="busca-validation mt-2 mb-0" role="alert">{{ buscaMessage }}</p>

            }

            @if (canClearSearch()) {
              <div class="text-center mt-2">
                <button type="button" class="btn btn-link btn-limpar-busca p-0" (click)="limparBusca()">
                  Limpar busca
                </button>
              </div>
            }

          </div>

        </div>

      </div>



      <div class="row">

        <div class="col-12">

          <button type="button" (click)="toggleMenu()" [attr.aria-expanded]="isOpen" aria-controls="busca-avancada" class="cl-le d-block btn-busca-avancada">Busca Avançada <svg class="btn-busca-avancada__icon" width="10" height="12" viewBox="0 0 10300 11900" aria-hidden="true"><polygon fill="#F77363" points="10300,6000 5200,8900 0,11900 0,6000 0,0 5200,3000"/></svg></button>

        </div>



        <div class="col-12">

          <div class="busca-avancada" id="busca-avancada" [collapse]="!isOpen" [isAnimated]="false">

            <app-busca-avancada (filtersChange)="onBuscaFiltersChange()" />

          </div>

        </div>

      </div>

    </div>

  </div>

</header>



<ng-template #modalEstados class="modal-estados">

  <div class="modal-header gradient">

    <h4 class="modal-title pull-left cl-wt font-weight-bold">Estado</h4>

    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef?.hide()">

      <span aria-hidden="true">&times;</span>

    </button>

  </div>

  <div class="modal-body">

    <select name="estadoUsuario" id="estadoUsuario" class="form-control"

            [ngModel]="locationState.uf()" (ngModelChange)="locationState.setUf($event)">

      @for (uf of ufs(); track uf.id) {

        <option [value]="uf.sigla">{{ uf.nome }}</option>

      }

    </select>



    <button class="btn-gradient btn btn-lg mt-2 w-100" (click)="modalRef?.hide()">Confirmar</button>

  </div>

</ng-template>


